# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
MANIFEST

.idea
.idea/*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

dataset/BCN20000/images
dataset/BCN20000/nei_benigni
dataset/BCN20000/images/*.jpg
dataset/BCN20000/nei_benigni/*.jpg
dataset/BCN20000/nei_maligni/*.jpg
dataset/BCN20000/nei_indeterminati/*.jpg

dataset/HAM10000/images
dataset/HAM10000/nei_benigni
dataset/HAM10000/images/*.jpg
dataset/HAM10000/nei_benigni/*.jpg
dataset/HAM10000/nei_maligni/*.jpg
dataset/HAM10000/nei_indeterminati/*.jpg

dataset/BCN20000/dataset1/

*.h5